*.pid
*.xml
*.csr
*.crt
*.key
home-assistant.log
home-assistant_v2.db
home-assistant_v2.db-wal
home-assistant_v2.db-shm
deps
tts
.uuid
secrets.yaml
known_devices.yaml
.*
!/.gitignore
camera_1_target_found
glances
